tiktoken==0.6.0
tornado==6.4
langchain_openai==0.0.6
rapidfuzz==3.6.1
sql_metadata==2.10.0
func_timeout==4.3.5
pandas==2.2.1
sqlglot==22.1.1
rank_bm25==0.2.2
peft==0.10.0
transformers==4.41.1
jinja2
datasets
sentencepiece
flash-attn
modelscope
deepspeed
bitsandbytes